.navbar {
    list-style-type: none;
}
/* 
body{
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
} */

#myBtn {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 30px;
    cursor: pointer;
    border-radius: 50%;

  }

  .map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

/* body{
    background: #215f00;  
    background: -webkit-linear-gradient(to right, #e4e4d9, #215f00);  
    background: linear-gradient(to right, #e4e4d9, #215f00);
}*/


/* .container{
    position: relative;
    background: #5C97FF;
    overflow: hidden;
}
 */


/* 
 .container:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    background: url('../media/drone_background01.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }  */

  body {
    background-image: url('../media/drone_background01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  } 

  #inspiration h1, #inspirationText{
    color: white;
    text-shadow: 3px 3px 5px #000000;
  }


  
/* #inspirationText img:hover{
  
} */