.navbar {
    list-style-type: none;
}
/* 
body{
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
} */

#myBtn {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 30px;
    cursor: pointer;
    border: 1px red solid;
    border-radius: 50%;

  }

  .map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

body{
    background: #215f00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #e4e4d9, #215f00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #e4e4d9, #215f00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}