.navbar {
    list-style-type: none;
}

/* body{
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
} */


#latestBlogHeading{
    width:500px;
    color:#fff;
    top:45%;
    left:auto;
    right: 50%;
    bottom:auto;
    position: absolute;
}


#supportTextBlogHeading{
    width:500px;
    color:#fff;
    top:60%;
    bottom:auto;
    left: 30%;
    right: auto;
    position: absolute;
}


.card{
    margin-top: 30px;
    margin-bottom: 30px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 30px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;

  }
  
/* .container:after {
    content: ' ';
    display: block;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    background: url('../media/main_cover.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }  */

  body {
    background-image: url('../media/main_cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
  } 